:root {
    --black: #000000;
    --grey: #1c1c16;
    --white: #ffffff;
    --red: #ef4f91;
    --blue: #05a8aa;
}

p a {
    color: var(--blue);
}

p em {
    color: var(--red);
    font-weight: 500;
}

.container {
    padding-bottom: 48px;
}

.profile-pic {
    border-radius: 50%;
    padding: 8px 4px;
    width: 100%;
}

.pimg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 200px;
}

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 6rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
ul.cloud li {
    --size: 4;
    --color: var(--white);
    color: var(--color);
    font-size: calc(var(--size) * 2rem + 2rem);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none;
}
  
ul.cloud li[data-weight="1"] { --size: 1;}
ul.cloud li[data-weight="2"] { --size: 2; --color: var(--blue);}
ul.cloud li[data-weight="3"] { --size: 4; --color: var(--red);}


.tab-content {
    padding-top: 8px;
}

.top-tab {
    padding: 5%;
    margin-top: -3%;
}

.top-tab h3 {
    border: 2px var(--blue) solid;
    border-radius: 64px;
    color: var(--white);
    text-align: center;
    padding: 12px;
}

.top-tab #tabs{
    background: var(--blue);
    color: var(--white);
}

.top-tab #tabs h6.section-title{
    color: var(--white);
}

.top-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--red);
    background-color: transparent;
    border-color: transparent transparent var(--white);
    border-bottom: 3px solid !important;
    font-size: 1em;
    font-weight: 800;
}

.top-tab .nav-link {
    color: var(--red);
    font-size: 1em;
    font-weight: 600;
}

.top-tab .nav-link:hover {
    border: none;
}

.top-tab thead {
    background: var(--white);
    color: var(--black);
}

.top-tab td a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
}

.top-tab td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td {
    color:var(--white);
    font-weight: 400;
}

td em {
    color: var(--red);
    font-weight: 600;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.card {
    width: 18%;                 /* Set width of cards */
    display: flex;                /* Children use Flexbox */
    flex-direction: column;       /* Rotate Axis */
    border: 1px solid var(--red);    /* Set up Border */
    border-radius: 16px;           /* Slightly Curve edges */
    overflow: hidden;             /* Fixes the corners */
    margin: 2px;                  /* Add space between cards */
}

.card:hover .card-container img {
    transition: all 200ms linear;
    opacity: 60%;
}

.card-header {
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-size: 1vw;
    font-weight: 600;
    border-bottom: 1px solid var(--red);
    background-color: var(--blue);
    padding: 4px 2px;
}

.card-header a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
}

.card-main {
    display: flex;              /* Children use Flexbox */
    flex-direction: column;     /* Rotate Axis to Vertical */
    justify-content: center;    /* Group Children in Center */
    align-items: center;        /* Group Children in Center (on cross axis) */
}

.card-container {
    position: relative;
    width: 100%; /* The size you want */
}

.card-container:after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
  
.card-container img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}

.chart embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}