:root {
    --black: #000000;
    --grey: #1c1c16;
    --white: #ffffff;
    --red: #ef4f91;
    --blue: #05a8aa;
}

.background {
    background-color: var(--grey);
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
}

img{
    width: 256px;
    height: auto;
    margin-top: 64px;
    margin-bottom: 16px;
}

h1 {
    color: var(--blue);
    font-size: 48px;
    padding: 16px 64px;
    margin: 16px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    text-decoration: none;
    background-color: var(--red) !important;
    border-color: var(--red )!important;
    color: var(--white) !important;
    font-size: 32px;
    border-radius: 64px;
    padding: 12px 32px;
    margin: 16px;
}

@media (max-width: 768px) {
    img {
        width: 228px;
        height: auto;
    }
    h1 {
        font-size: 32px;
    }
    .btn-primary {
        font-size: 32px;
    }
}