{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}?u={{ last_updated }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos/aos.css') }}">
{% endblock %}

{% block content %}

<div id="user-profile">
    <h1>{% block title %} Explore {% endblock %}</h1>
</div>

<section id="page-tabs" class="top-tab" style="width:100%; padding: 16px 0px;">
    {% set navigation_bar = [
        ('/recommendation', 'recommendation', 'Recommendation', 'disabled'),
        ('/trending', 'trending', 'Trending', ''),
        ('/popular', 'popular', 'Popular', ''),
        ('/top', 'top', 'Top', '')
    ] -%}
    {% set active_page = active_page|default('recommendation') -%}
    <nav>
        <div class="nav nav-tabs nav-fill" id="explore-tab" role="tablist">
            {% for href, id, caption, disable in navigation_bar %}
            <a class="nav-item nav-link {% if id == active_page %} active {% endif %} {% if no_user %} {{ disable|e }} {% endif %}"
            href="{{ href|e }}" role="tab">{{ caption|e }}</a>
            {% endfor %}
        </div>
    </nav>
</section>

{% if active_page == 'explore' %}

<section id="tabs" class="top-tab" style="width:100%;">
    <h3>Artist of the Day</h3>
    <div class="container" style="padding-bottom:24px;">
        <div class="daily-container">
            <div class='artist-name' data-aos="fade-right" data-aos-delay="400">
                <div><a href="{{ artist['artist_url'] }}">{{ artist['artist'] }}</a></div>
            </div>
            <div class='artist-image' data-aos="fade-left" data-aos-delay="800">
                <a href="{{ artist['artist_url'] }}"><img src="{{ artist['artist_image'] }}" onerror="this.onerror=null; this.src=url(static/img/no-profile.png)" alt=""/></a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <h3>Song of the Day</h3>
    <div class="container" style="padding-bottom:24px;">
        <div class="daily-container">
            <div class='track-image' data-aos="fade-right" data-aos-delay="800">
                <a href="{{ track['track_url'] }}"><img src="{{ track['album_image'] }}"  onerror="this.onerror=null; this.src=url(static/img/no-profile.png)" alt=""/></a>
            </div>
            <div class='track-name' data-aos="fade-left" data-aos-delay="400">
                <div>
                    <a href="{{ track['track_url'] }}">{{ track['track'] }}</a><br>
                    <span>{{ track['artists'] }}</span><br>
                    <p>{{ track['album'] }}</p>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <h3>Lyrics of the Day</h3>
    <div class="container" style="padding-bottom:24px;">
        <div class="daily-container">
            <div class="lyric-background">
                <img src="{{ lyrics['album_image'] }}"/>
            </div>
            <div class='lyric-image' data-aos="fade-right" data-aos-delay="400">
                <div><p style="white-space: pre-line"><i>{{ lyrics['lyrics'] }}</i></p></div>
            </div>
            <div class='lyric-name' data-aos="fade-left" data-aos-delay="800">
                <div>
                    <a href="{{ track['track_url'] }}">{{ lyrics['track'] }}</a><br>
                    <span>- {{ lyrics['artists'].split(';')[0] }}</span><br>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</section>

{% else %}

<section id="tabs" class="top-tab" style="width:100%;">
    {% set rank=False if active_page == 'recommendation' else True -%}
    <div class="container">
        <h3>{{ active_page.title() }} Artists</h3>
        {% with rank=rank %}
            {% include 'artist_row.html' %}
        {% endwith %}
    </div>
    <div class="container">
        <h3>{{ active_page.title() }} Tracks</h3>
        {% include 'track_table.html' %}
    </div>
</section>

{% endif %}

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='css/aos/aos.js') }}"></script>
<script>
    AOS.init();
</script>
{% endblock %}