{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}?u={{ last_updated }}">
{% endblock %}

{% block content %}

<div id="user-profile">
    <h1>{% block title %} Explore {% endblock %}</h1>
</div>

<section id="page-tabs" class="top-tab" style="width:100%; padding: 16px 0px;">
    {% set navigation_bar = [
        ('/recommendation', 'recommendation', 'Recommendation', 'disabled'),
        ('/trending', 'trending', 'Trending', ''),
        ('/popular', 'popular', 'Popular', ''),
        ('/top', 'top', 'Top', '')
    ] -%}
    {% set active_page = active_page|default('recommendation') -%}
    <nav>
        <div class="nav nav-tabs nav-fill" id="explore-tab" role="tablist">
            {% for href, id, caption, disable in navigation_bar %}
            <a class="nav-item nav-link {% if id == active_page %} active {% endif %} {% if no_user %} {{ disable|e }} {% endif %}"
            href="{{ href|e }}" role="tab">{{ caption|e }}</a>
            {% endfor %}
        </div>
    </nav>
</section>

<section id="tabs" class="top-tab" style="width:100%;">
    {% set rank=False if active_page == 'recommendation' else True -%}
    <div class="container">
        <h3>{{ active_page.title() }} Artists</h3>
        {% with rank=rank %}
            {% include 'artist_row.html' %}
        {% endwith %}
    </div>
    <h3>{{ active_page.title() }} Tracks</h3>
    <div class="container">
        {% include 'track_table.html' %}
    </div>
</section>

{% endblock %}