{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}?u={{ last_updated }}">
{% endblock %}

{% block content %}

<div id="user-profile">
    <div style="float:left; width:80%">
        <h1>{% block title %} {{ user['display_name'] }} {% endblock %}</h1>
        <p>
            Last updated:&emsp;&nbsp; {{ user['last_updated'] }}<br>
            Spotify profile:&emsp; <a href="{{ user['spotify_url'] }}">{{ user['spotify_url'] }}</a><br>
            {% if is_user %}
                {% if user['public'] %}
                    Profile privacy:&emsp; <b>Public</b><br>
                {% else %}
                    Profile privacy:&emsp; <b>Private</b><br>
                {% endif %}
                Match code:&emsp;&emsp; <em>{{ user['code'] }}</em>
            {% endif %}
        </p>
        {% if is_user %}
        <a href="/update" class="btn btn-secondary">Update data</a>
        <a href="/privacy" class="btn btn-secondary">Change privacy</a>
        <a href="/code" class="btn btn-secondary">Reset code</a>
        {% endif %}
    </div>
    <div style="float:right; width:20%;">
        <img class="profile-pic" src="{{ user['image_url'] }}" alt="User Image"/>
    </div>
    <div style="clear:both; padding-bottom: 48px"></div>
</div>

{% if public %}

<ul class="cloud" style="padding-bottom: 48px">
    <li data-weight="1">Your</li>
    <li data-weight="2">music</li>
    <li data-weight="2">taste</li>
    <li data-weight="1">is</li><br>
    <li data-weight="3"><span class="count" data-target="{{ mainstream }}"> </span>%</li>
    <li data-weight="1">mainstream</li>
</ul>

<!-- TOP TAB -->
<section id="tabs" class="top-tab" style="width:100%;">
    <!-- ################################################## TOP ARTISTS ################################################## -->
    <h3>Top Artists</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-recent-tab" data-toggle="tab" href="#nav-recent" role="tab" aria-controls="nav-recent" aria-selected="true">Recent</a>
                        <a class="nav-item nav-link" id="nav-months-tab" data-toggle="tab" href="#nav-months" role="tab" aria-controls="nav-month" aria-selected="false">Past Few Months</a>
                        <a class="nav-item nav-link" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">All Time</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-recent" role="tabpanel" aria-labelledby="nav-recent-tab">
                        {% for row in range(4) %}
                        <div class="row">
                            {% for artist in artists['Short'][5*row:5*row+5] %}
                            <div class="card">
                                <div class="card-header">
                                    <a href="{{ artist['artist_url'] }}">{{ artist['artist'] }}</a>
                                </div>
                                <div class="card-main">
                                    <div class="card-container">
                                        <a href="{{ artist['artist_url'] }}"><img src="{{ artist['artist_image'] }}" alt="Artist Image"/></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="nav-months" role="tabpanel" aria-labelledby="nav-months-tab">
                        {% for row in range(4) %}
                        <div class="row">
                            {% for artist in artists['Medium'][5*row:5*row+5] %}
                            <div class="card">
                                <div class="card-header">
                                    <a href="{{ artist['artist_url'] }}">{{ artist['artist'] }}</a>
                                </div>
                                <div class="card-main">
                                    <div class="card-container">
                                        <a href="{{ artist['artist_url'] }}"><img src="{{ artist['artist_image'] }}" alt="Artist Image"/></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                        {% for row in range(4) %}
                        <div class="row">
                            {% for artist in artists['Long'][5*row:5*row+5] %}
                            <div class="card">
                                <div class="card-header">
                                    <a href="{{ artist['artist_url'] }}">{{ artist['artist'] }}</a>
                                </div>
                                <div class="card-main">
                                    <div class="card-container">
                                        <a href="{{ artist['artist_url'] }}"><img src="{{ artist['artist_image'] }}" alt="Artist Image"/></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ################################################## TOP TRACKS ################################################## -->
    <h3>Top Tracks</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="tracks-tab" role="tablist">
                        <a class="nav-item nav-link active" id="tracks-recent-tab" data-toggle="tab" href="#tracks-recent" role="tab" aria-controls="tracks-recent" aria-selected="true">Recent</a>
                        <a class="nav-item nav-link" id="tracks-months-tab" data-toggle="tab" href="#tracks-months" role="tab" aria-controls="tracks-month" aria-selected="false">Past Few Months</a>
                        <a class="nav-item nav-link" id="tracks-all-tab" data-toggle="tab" href="#tracks-all" role="tab" aria-controls="tracks-all" aria-selected="false">All Time</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tracks-recent" role="tabpanel" aria-labelledby="tracks-recent-tab">
                        <table class="table table-striped">
                            <tbody>
                                {% for track in tracks['Short'][:10] %}
                                <tr>
                                    <td width="20%"><a href="{{ track['track_url'] }}"><img src="{{ track['album_image'] }}" alt="Album Image" style="height:80px"/></a></td>
                                    <td>
                                        <a href="{{ track['track_url'] }}">{{ track['track'] }}</a><br>
                                        <em>{{ track['artists'] }}</em><br>
                                        {{ track['album'] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tracks-months" role="tabpanel" aria-labelledby="tracks-months-tab">
                        <table class="table table-striped">
                            <tbody>
                                {% for track in tracks['Medium'][:10] %}
                                <tr>
                                    <td width="20%"><a href="{{ track['track_url'] }}"><img src="{{ track['album_image'] }}" alt="Album Image" style="height:80px"/></a></td>
                                    <td>
                                        <a href="{{ track['track_url'] }}">{{ track['track'] }}</a><br>
                                        <em>{{ track['artists'] }}</em><br>
                                        {{ track['album'] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tracks-all" role="tabpanel" aria-labelledby="tracks-all-tab">
                        <table class="table table-striped">
                            <tbody>
                                {% for track in tracks['Long'][:10] %}
                                <tr>
                                    <td width="20%"><a href="{{ track['track_url'] }}"><img src="{{ track['album_image'] }}" alt="Album Image" style="height:80px"/></a></td>
                                    <td>
                                        <a href="{{ track['track_url'] }}">{{ track['track'] }}</a><br>
                                        <em>{{ track['artists'] }}</em><br>
                                        {{ track['album'] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ################################################## TOP GENRES ################################################## -->
    <h3>Top Genres</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="genres-tab" role="tablist">
                        <a class="nav-item nav-link active" id="genres-recent-tab" data-toggle="tab" href="#genres-recent" role="tab" aria-controls="genres-recent" aria-selected="true">Recent</a>
                        <a class="nav-item nav-link" id="genres-months-tab" data-toggle="tab" href="#genres-months" role="tab" aria-controls="genres-month" aria-selected="false">Past Few Months</a>
                        <a class="nav-item nav-link" id="genres-all-tab" data-toggle="tab" href="#genres-all" role="tab" aria-controls="genres-all" aria-selected="false">All Time</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="genres-recent" role="tabpanel" aria-labelledby="genres-recent-tab">
                        <div class="chart">
                            <embed type="image/svg+xml" src= {{ genres['Short']|safe }} style="width:80%;height:80%" />
                        </div>  
                    </div>
                    <div class="tab-pane fade" id="genres-months" role="tabpanel" aria-labelledby="genres-months-tab">
                        <div class="chart">
                            <embed type="image/svg+xml" src= {{ genres['Medium']|safe }} style="width:80%;height:80%" />
                        </div>  
                    </div>
                    <div class="tab-pane fade" id="genres-all" role="tabpanel" aria-labelledby="genres-all-tab">
                        <div class="chart">
                            <embed type="image/svg+xml" src= {{ genres['Long']|safe }} style="width:80%;height:80%" />
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ################################################## MUSIC MOODS ################################################## -->
    <h3>Music Moods</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="moods-tab" role="tablist">
                        <a class="nav-item nav-link active" id="moods-recent-tab" data-toggle="tab" href="#moods-recent" role="tab" aria-controls="moods-recent" aria-selected="true">Recent</a>
                        <a class="nav-item nav-link" id="moods-months-tab" data-toggle="tab" href="#moods-months" role="tab" aria-controls="moods-month" aria-selected="false">Past Few Months</a>
                        <a class="nav-item nav-link" id="moods-all-tab" data-toggle="tab" href="#moods-all" role="tab" aria-controls="moods-all" aria-selected="false">All Time</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="moods-recent" role="tabpanel" aria-labelledby="moods-recent-tab">
                        <div class="chart">
                            <embed type="image/svg+xml" src= {{ moods['Short']|safe }} style="width:100%;height:60%" />
                        </div>  
                    </div>
                    <div class="tab-pane fade" id="moods-months" role="tabpanel" aria-labelledby="moods-months-tab">
                        <div class="chart">
                            <embed type="image/svg+xml" src= {{ moods['Medium']|safe }} style="width:100%;height:60%" />
                        </div>  
                    </div>
                    <div class="tab-pane fade" id="moods-all" role="tabpanel" aria-labelledby="moods-all-tab">
                        <div class="chart">
                            <embed type="image/svg+xml" src= {{ moods['Long']|safe }} style="width:100%;height:60%" />
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}

<ul class="cloud" style="padding-bottom: 48px">
    <li data-weight="1">This</li>
    <li data-weight="2">user's</li>
    <li data-weight="2">profile</li>
    <li data-weight="1">is</li>
    <li data-weight="3">private</li>
</ul>

{% endif %}

{% endblock %}

{% block script %}

<script>
const counters = document.querySelectorAll('.count');

counters.forEach(counter => {
    const updateCount = () => {
        const target = +counter.getAttribute('data-target');
        const count = +counter.innerText;

        if (count < target) {
            counter.innerText = count + 1;
            setTimeout(updateCount, 10);
        } else {
            counter.innerText = target;
        }
    };
    updateCount();
});
</script>

{% endblock %}