{% extends 'base.html' %}

{% block content %}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

{% if not user %}

    <h2>Profile</h2>
    <p>You need to link your Spotify account to see this page.</p>
    <a type="button" class="btn btn-primary" href="/link">Link</a>

{% else %}

    <h2>{% block title %} {{ user['display_name'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ user['created'] }}</span>
    <p>Spotify profile: <a href="{{ user['spotify_url'] }}">{{ user['spotify_url'] }}</a></p>
    <p><img src="{{ user['image_url'] }}" alt="User Image" style="width:300px;height:300px"</p>

    <div class='top-artists'>
        <h3>Your top artists: </h3>
        <table style="width:100%">
            <tr>
                <th>Rank</th>
                <th>Artist</th>
                <th>Genres</th>
            </tr>
            <tr>
            {% for artist in artists %}
            <tr>
                <td>{{ artist['Rank'] }}</td>
                <td>{{ artist['Artist'] }}</td>
                <td>{{ artist['Genres'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class='top-tracks'>
        <h3>Your top tracks: </h3>
        <table style="width:100%">
            <tr>
                <th>Rank</th>
                <th>Track</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
            </tr>
            <tr>
            {% for track in tracks %}
            <tr>
                <td>{{ track['Rank'] }}</td>
                <td>{{ track['Track'] }}</td>
                <td>{{ track['Artist'] }}</td>
                <td>{{ track['Album'] }}</td>
                <td>{{ track['Duration'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endif %}

{% endblock %}