<table class="table table-striped">
    <tbody>
        {% for track in tracks %}
        <tr>
            <td width="20%"><a href="{{ track['track_url'] }}"><img src="{{ track['album_image'] }}" onerror="this.onerror=null; this.src=url(static/img/no-profile.png)" alt="" style="height:80px"/></a></td>
            <td>
                <a href="{{ track['track_url'] }}">{{ track['track'] }}</a><br>
                <span>{{ track['artists'] }}</span><br>
                {{ track['album'] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>                    
</table>